<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
</head>
<body>
  <h1>TECH BLOG!</h1>
  {{!-- {{#if logged_in}} --}}
    <a href="/login">Log Out</a>
  {{!-- {{else}} --}}

    <a href="/login">Log In</a>
  {{!-- {{/if}} --}}
    {{{body}}}
</body>
</html>