<div class="row">
    <div class="col-md-6">
        <h2>Log In!</h2>
        <form class="log-in-form">
            <div>
                <label>Username</label>
                <input class="log-in-username">
            </div>
            <div>
                <label>Password</label>
                <input class="log-in-password">
            </div>
            <div>
                <button class="btn" type="submit">Login</button>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <h2>Sign Up!</h2>
        <form class="sign-up-form">
            <div>
                <label>name:</label>
                <input class="sign-up-name">
            </div>
            <div>
                <label>email:</label>
                <input class="sign-up-email">
            </div>
            <div>
                <label>password:</label>
                <input class="sign-up-password">
            </div>
            <div>
                <button class="btn" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>